

:root {
    --color-accent: oklch(65% 50% 0);
  }
  
  html {
    accent-color: var(--color-accent);
  }
  
  body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding-inline: 1rem;
  }
  

  h1 {
    font-size: 4rem; /* strong contrast */
    line-height: 1.1;
    text-wrap: balance;
    margin-bottom: 1rem;
  }
  
  h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
  }
  

  img {
    max-width: 100%;
    display: block;
  }

  
  nav ul,
  nav li {
    display: contents;
  }
  
  nav {
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid oklch(80% 3% 200);
  }
  
  nav a {
    flex: 1;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
    border-bottom: 0 solid transparent;
  }
  
  nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
  }
  
  nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: oklch(from var(--color-accent) 95% 5% h);
  }
  img {
    max-width: 100%;
    display: block;
    margin-inline: auto;
  }

  
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    max-width: 60ch;
  }
  
  label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
  
  input,
  textarea,
  button {
    font: inherit;
  }
  
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    grid-column: 1 / -1;
    justify-self: start;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
  }
  
  .projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
  
  .projects h2 {
    margin: 0;
  }
  

  
  section {
    margin-bottom: 2rem;
  }
  
  iframe {
    border: 1px solid oklch(80% 3% 200);
  }